     p {
       font-family: Arial;
       margin-top: 0;
       margin-bottom: 0;
     }
    
     body {
       --color: black;
       margin: 0;
       /*height: 100000px;*/
       padding-top: 78px;
       padding-left: 90px;
       padding-right: 24px;
       background-color: rgb(248, 248, 248);
     }
     
     a {
       color: black;
       text-decoration: none;
     }
     
  /*media queries for responsiveness*/
  @media (min-width: 470px) and (max-width: 1050px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
  }
  }

  @media(min-width: 1550px) and (max-width: 2200px) {
    .video-grid {
      grid-template-columns: 1fr 1fr  1fr;
  }
  }
  /*styles to be applied if screen is 450px or less*/
  @media (min-width: 320px) and (max-width: 500px) {
    .video-grid {
      grid-template-columns: 1fr;
      row-gap: 14px;
    }
   
    .sidebar {
      display: none;
    }
    
    #bd {
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 0;
    }
   
   #voice-search-button {
      display: none;
    }
    
    #right-section {
      display: none;
    }
    
    .left-section .hamburger-menu {
      display: none;
    }
    
   .left-section .youtube-logo {
      margin-left: 5px;
    }
    
    .search-bar {
      display: none;
    }
    
    .search-button {
      background-color: white;
      border: none;
    }
    
    body .header {
      position: static;
    }
    
    .header .middle-section {
      margin-right: 0;
      margin-left: 45px;
    }
    
    .video-preview {
      margin-bottom: 12px;
    }
    
    .middle-section {
      justify-content: flex-end;
      
    }
  }