   .header {
     height: 55px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: white;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     border-bottom: 1.5px solid  rgb(228, 228, 228);
      z-index: 1;
   }
    
    .left-section {
      display: flex;
      align-items: center;
    }
    
    .hamburger-menu {
      height: 24px;
      margin-left: 24px;
      margin-right: 20px;
    }
    
    .youtube-logo {
      height: 22px;
    }
    
    
    .middle-section {
      flex: 1;
      margin-left: 70px;
      margin-right: 35px;
      max-width: 450px;
      display: flex;
      align-items: center;
    }
    
    .search-bar {
      flex: 1;
      height: 36px;
      padding-left: 12px;
      font-size: 16px;
      border: 1px solid rgb(192, 192, 192);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
      width: 0;
    }
    
    .search-bar::placeholder {
      font-family: Arial;
      font-size: 16px;
    }
    
    .search-button {
      height: 40px;
      width: 66px;
      background-color: rgb(240, 240, 240);
      border: 1px solid rgb(192, 192, 192);
      margin-left: -1px;
      margin-right: 10px;
    }
    
    .voice-search-button {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: none;
      background-color: rgb(245, 245, 245);
    }
    
    .search-button, .voice-search-button, .upload-icon-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    
    .search-icon {
      height: 25px;

    }

    .voice-search-icon {
      height: 24px;
    }
    
    .right-section {
      width: 180px;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
    }
    
    .upload-icon {
      height: 24px;
      position: relative;
    }
    
    .youtube-apps-icon {
      height: 24px;
    }
    
    .notifications-icon {
      height: 24px;
    }
    
    .notifications-icon-container {
      position: relative;
    }
    
    .notifications-count {
      position: absolute;
      background-color: rgb(200, 0, 0);
      color: white;
      top: 0;
      right: 0;
      font-family: Arial;
      font-size: 11px;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 50%;
    }
    
    .current-user-picture {
      height: 32px;
      border-radius: 16px;
    }
   
    .search-button .tooltip, .voice-search-button .tooltip, .upload-icon-container .tooltip {
      font-family: Arial;
      background-color: grey;
      color: white;
      position: absolute;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;
      bottom: -30px;
      opacity: 0; 
      transition: opacity 0.15;
      pointer-events: none;
      white-space: nowrap;
 }
    .search-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon-container:hover .tooltip {
      opacity: 1;
    }
    